data/schema/3.5/tech/Messagerie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dc="http://purl.org/dc/elements/1.1/"
					 xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
					 attributeFormDefault="unqualified">
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="../librairie/simpledc.xsd"/>
	<xs:include schemaLocation="../librairie/commun.xsd"/>
	<xs:include schemaLocation="../librairie/tech.lib.xsd"/>
	
	
	<xs:element name="Messagerie">
		<xs:annotation>
			<xs:documentation>Arbre de décision de la messagerie</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dc:date"/>
				<xs:element ref="Canal" minOccurs="0"/>
				<xs:element name="SujetsDuMoment" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ThemeMessagerie" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="ThemeMessagerie" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ThemeMessagerie">
		<xs:complexType>
			<xs:sequence>
				<xs:annotation>
					<xs:documentation>Thème du fil de décision messagerie</xs:documentation>
				</xs:annotation>
				<xs:element name="Titre" type="TypeTitreRiche" minOccurs="1"/>
				<xs:element name="TitreSiSelectionne" type="TypeTitreRiche" minOccurs="0"/>
				<xs:element name="Probleme" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Titre" type="TypeTitreRiche" minOccurs="1"/>
							<xs:element name="TitreSiSelectionne" type="TypeTitreRiche" minOccurs="0"/>
							<xs:element name="SujetMessagerieRef" minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Référence aux "SujetMessagerie" vers lesquels mener lors de la sélection de ce problème</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="ID" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>				
				<xs:group ref="SujetMessagerieContent"/>
			</xs:sequence>
			<xs:attribute name="pictogramme" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:group name="SujetMessagerieContent">
		<xs:choice>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element name="Formulaire">
						<xs:complexType>
							<xs:attribute name="formulaireContactId" type="xs:string"/>
						</xs:complexType>
					</xs:element>
					<xs:element ref="OuSAdresser"/>
					<xs:element ref="FAQ"/>
				</xs:choice>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="SujetMessagerie" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Titre" type="TypeTitreRiche" minOccurs="1"/>
							<xs:element name="TitreSiSelectionne" type="TypeTitreRiche" minOccurs="0"/>
							<xs:group ref="SujetMessagerieContent"/>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:group>
	
</xs:schema>
