data/schema/3.5/Actualite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="../3.5/librairie/simpledc.xsd"/>
	<xs:include schemaLocation="../3.5/librairie/actualite.lib.xsd"/>
	<xs:include schemaLocation="librairie/commun.xsd"/>

<!-- ###
	   # Elément racine : Actualite
	   ### -->
	<xs:element name="Actualite">
		<xs:annotation>
			<xs:documentation>Schéma permettant d'afficher les pages des actualités</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="dc:elementsGroup"/>
				<xs:element name="SurTitre" minOccurs="0" maxOccurs="1" type="xs:string"/>
				<xs:element name="ImageIllustration" type="TypeLienRessourceInterne" minOccurs="0"/>
				<xs:element ref="Audience" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Canal" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Cible" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="FilDAriane" minOccurs="0"/>
				<xs:element ref="Theme" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Avertissement" minOccurs="0"/>
				<xs:element ref="Echeance" minOccurs="0"/>
				<xs:element ref="Introduction" minOccurs="0"/>
				<xs:element ref="Rubrique" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RubriqueFlux" minOccurs="0"/>
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:sequence>
						<xs:element ref="Texte" minOccurs="0"/>
						<xs:element ref="VoirAussi" minOccurs="0"/>
						<xs:element ref="OuSAdresser" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="ServiceEnLigne" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element ref="PourEnSavoirPlus" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="RubriquePublicite" minOccurs="0"/>
				<xs:element ref="RubriqueAgenda" minOccurs="0"/>
				<xs:element ref="Definition" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Abreviation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string"/>
			<!-- @type valeurs possibles : bref, leSaviezVous, jurisprudence, reponseMinistere, decouvrir, indice, eAdministration, chiffre, alerte, dossierActualite, video -->
			<xs:attribute name="type" type="xs:string"/>
			<xs:attribute name="datePeremption" type="xs:date"/>
			<!-- Date de 1ere diffusion publique -->
			<xs:attribute name="datePremiereMiseEnLigne" type="xs:date"/>
			<!-- Date de mise à jour (si différente de dateCreation) -->
			<xs:attribute name="dateMaj" type="xs:date" use="optional"/>
			<xs:attribute name="perime" type="xs:string"/><!-- périmé : oui/non -->
			<!-- URL d'accés à l'élément sur le site service-public.gouv.fr -->
			<xs:attribute name="spUrl" type="xs:string" use="optional"/>
			<xs:attribute ref="themes" use="optional"/>
			<xs:attribute ref="sujets" use="optional"/>
			<xs:attribute ref="profilsPro" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
