data/schema/3.5/librairie/serviceComplementaire.lib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="simpledc.xsd"/>
	<xs:include schemaLocation="commun.xsd"/>
	
<!-- ###
	   # Elément constitutifs du service complémentaire
	   ### -->
	
	<!-- NumeroCerfa -->
	<xs:element name="NumeroCerfa" type="xs:string"/>
	
	<!-- AutreNumero -->
	<xs:element name="AutreNumero" type="xs:string"/>
	
	<!-- PivotLocal -->
	<xs:element name="PivotLocal" type="xs:string"/>

	<!-- FranceConnect déprécié (et redondant) par rapport à Connexion (laissé pour compatibilité ascendante) -->
	<xs:element name="FranceConnect" type="xs:boolean" default="false"/>

	<!--  Calendrier -->
	<xs:element name="Calendrier">
		<xs:complexType>
			<xs:group ref="GroupeContenu"/>
		</xs:complexType>
	</xs:element>

	<!--  Public -->
	<xs:element name="Public">
		<xs:complexType>
			<xs:group ref="GroupeContenu"/>
		</xs:complexType>
	</xs:element>

	<!--  Recherchable -->
	<xs:element name="Recherchable">
		<xs:complexType>
			<xs:group ref="GroupeContenu"/>
		</xs:complexType>
	</xs:element>

	<!--  Caracteristique libre -->
	<xs:element name="CaracteristiqueLibre">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Titre" minOccurs="1" type="xs:string"/>
				<xs:group ref="GroupeContenu"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="TypeContentSelf">
		<xs:sequence>
			<xs:element name="Etapes" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="GroupeContenusStructures"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Documents" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="GroupeContenusStructures"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ModeEmploi" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="GroupeContenusStructures"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Suivi" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="GroupeContenusStructures"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Delai" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="GroupeContenusStructures"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Recours" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:group ref="GroupeContenusStructures"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartieLibre" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Titre" minOccurs="1" type="xs:string"/>
						<xs:group ref="GroupeContenusStructures"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- ServiceEnLigneAlternatif -->
	<xs:element name="ServiceEnLigneAlternatif">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Titre" minOccurs="0" type="xs:string"/>
				<xs:element name="Description" minOccurs="0">
					<xs:complexType>
						<xs:group ref="GroupeContenu"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="optional"/>
			<xs:attribute name="ID" type="xs:string" use="optional"/>
			<xs:attribute name="audience" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
		
	<!-- FicheLiee -->
	<xs:element name="FicheLiee">
		<xs:annotation>
			<xs:documentation>fiches appelant ce service</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Titre" minOccurs="0" type="xs:string"/>
				<xs:element name="Dossier" minOccurs="0">
					<xs:complexType mixed="true">
						<xs:attribute name="ID" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="ID" type="xs:string" use="required"/>
			<xs:attribute name="audience" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<!-- Valeur de référence -->
	<xs:element name="ValeurRfr"> 
		<xs:complexType>
			<xs:attribute name="valeur" type="xs:string" use="required"/>
			<xs:attribute name="titre" type="xs:string" use="optional"/>
			<xs:attribute name="unite" type="xs:string" use="optional"/>
			<xs:attribute name="ID" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<!-- Liste de valeurs de références historisées -->
	<xs:element name="ValeurRfrHisto">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Periode" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ValeurRfr"/>
						</xs:sequence>
						<xs:attribute name="dateDebut" type="xs:date" use="required"/>
						<xs:attribute name="dateFin" type="xs:date" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="optional"/>
			<xs:attribute name="titre" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
			
</xs:schema>
