data/schema/3.5/librairie/tech.lib.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dc="http://purl.org/dc/elements/1.1/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="simpledc.xsd"/>
	<xs:include schemaLocation="commun.xsd"/>
	
<!-- ###
	   # Elément constitutifs des pages techniques
	   ### -->
	
	<!-- Page : lien vers une page technique -->
	<xs:element name="Page">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Titre" type="TypeTitreRiche" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="sousType" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<!-- Page : IndexTech du canal -->
	<xs:element name="IndexTech">
		<xs:annotation>
			<xs:documentation>Matérialise le footer sur les pages de type "footer"</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Segment" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Titre" type="TypeTitreRiche" minOccurs="0"/>
							<xs:choice minOccurs="0" maxOccurs="unbounded">
								<xs:element name="LienExterne" type="TypeLienExterne" minOccurs="0"/>
								<xs:element ref="Page"/>
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			
</xs:schema>
