data/schema/3.5/indexes/Glossaire.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="../librairie/simpledc.xsd"/>
	<xs:include schemaLocation="../librairie/commun.xsd"/>
	
	<xs:element name="Glossaire">
		<xs:annotation>
			<xs:documentation>Schéma permettant de référencer l'ensemble des définitions regroupées par lettre, dédoublonnées, et classées alphabétiquement</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dc:date"/>
				<xs:element ref="FilDAriane" minOccurs="0"/>
				<xs:element name="Lettre" minOccurs="27" maxOccurs="27">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Definition" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Audience" minOccurs="1"/>
										<xs:element name="Titre" minOccurs="0" maxOccurs="1" type="xs:string"/>
									</xs:sequence>
									<!-- @ID : id de l'élément pointé -->
									<xs:attribute name="ID" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type" type="xs:string" use="required"/><!-- [A-Z autre] -->
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
